
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  background-image: url("https://images.unsplash.com/photo-1580519542036-c47de6196ba5?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
}

.container {
  padding: 2rem;
  border-radius: 1rem;
  width: 350px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
}

form {
  margin-top: 2rem;
}

.amount input {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.select-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 5px;
}

.select-container img {
  width: 30px;
  margin-right: 5px;
}

select {
  border: none;
  outline: none;
}

.msg {
  margin: 1rem 0;
  font-weight: bold;
}

button {
  width: 100%;
  height: 3rem;
  background: #af4d9a;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}
